{% extends "baseapp.html" %}

{% block baseapp %}
<table>
    <tr>
        <th rowspan="2">
        Ciclo
        </th>
        {% for tipo_faturamento, periodo in ciclos.1.items %}
        <th colspan="2">
        {{ tipo_faturamento }}
        </th>
        {% endfor %}
        <th rowspan="2">
        Tot NFs
        </th>
        <th rowspan="2">
        Tot Itens
        </th>
    </tr>
    <tr>
        {% for tipo_faturamento, periodo in ciclos.1.items %}
        <th>
        Dt Início
        </th>
        <th>
        Dt Final
        </th>
        {% endfor %}
    </tr>
{% for num_ciclo, ciclo in ciclos.items %}
    <tr>
        <td>
        {{ num_ciclo }}
        </td>
        {% for tipo_faturamento, periodo in ciclo.items %}
        <td>
        {{ periodo.0 }}
        </td>
        <td>
        {{ periodo.1 }}
        </td>
        {% endfor %}
        <td>
        {{ nf.objects.count }}
        </td>
        <td>
        {{ itemfatura.objects.count }}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
